<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - PropertyPayPro</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/brand/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/brand/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/brand/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/img/brand/favicon/site.webmanifest">
    <link class="main-css" href="/mophy/admin/css/style.css" rel="stylesheet">
</head>
<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-4">
                                        <a asp-area="" asp-page="/Index" class="text-decoration-none">
                                            <img src="/img/brand/PPS_Logo-Shield.png" alt="PropertyPayPro"
                                                 style="max-height: 120px; width: auto;" />
                                        </a>
                                    </div>
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/mophy/admin/vendor/global/global.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
