<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - PropertyPayPro</title>
    <link rel="icon" type="image/svg+xml" href="/img/brand/favicon.svg">
    <link class="main-css" href="/mophy/admin/css/style.css" rel="stylesheet">
</head>
<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-4">
                                        <a asp-area="" asp-page="/Index" class="text-decoration-none d-inline-flex align-items-center">
                                            <svg width="48" height="48" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="#2A6FFF"/>
                                                <path d="M9 22V10h5.5a4 4 0 1 1 0 8H12v4H9zm3-7h2.5a1.5 1.5 0 1 0 0-3H12v3z" fill="#fff"/>
                                                <path d="M19 22V10h5.5a4 4 0 1 1 0 8H22v4h-3zm3-7h2.5a1.5 1.5 0 1 0 0-3H22v3z" fill="#fff" opacity=".7"/>
                                            </svg>
                                            <span class="ms-2 fs-3 fw-bold text-black">PropertyPayPro</span>
                                        </a>
                                    </div>
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/mophy/admin/vendor/global/global.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
