@{
	Layout = "~/Views/Shared/_LayoutMophyFrontend.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<!-- Banner  -->
<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-primary-linear">
	<div class="move-3">
		<img src="~/mophy/frontend/images/home-banner/move-1.png" alt="">
	</div>
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>About Us</h1>
			<!-- Breadcrumb Row -->
			<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
				<ul class="">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Frontend")">Home</a></li>
					<li class="breadcrumb-item  text-black active" aria-current="page">About Us</li>
				</ul>
			</nav>
			<!-- Breadcrumb Row End -->
		</div>
	</div>

</div>
<!-- Banner End -->
<!-- aboutbx3 -->
<div class="content-inner-1 about-bx3">
	<div class="container">
		<div class="row align-items-center ">
			<div class="col-lg-6 mb-5 mb-xl-0">
				<div class="dz-content wow bounceInLeft" data-wow-delay="1.0s">
					<div class="section-head style-1">
						<h5 class="sub-title">WHO WE ARE</h5>
						<h2 class="title">It’s more than a name. It’s a promise.</h2>
						<p>Sem lacinia nec fusce nisl aptent quis. Ac gravida interdum proin imperdiet nisl metus.</p>
					</div>
					<div class="row m-b40 m-sm-b15">
						<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
							<div class="icon-bx-wraper box-hover style-5 gap-3 text-center flex-column">
								<div class="icon-lg">
									<a href="javascript:void(0);" class="icon-cell">
										<i class="fas text-blue fa-credit-card"></i>
									</a>
								</div>
								<div class="icon-content">
									<h5 class="dz-tilte m-b5 text-capitalize">Credit Card</h5>
									<span>It is a long established fact that a reader of a page when looking.</span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
							<div class="icon-bx-wraper box-hover style-5 gap-3 text-center flex-column">
								<div class="icon-lg">
									<a href="javascript:void(0);" class="icon-cell">
										<i class="fa fa-mobile"></i>
									</a>
								</div>
								<div class="icon-content">
									<h5 class="dz-tilte m-b5 text-capitalize">Mobile banking</h5>
									<span>It is a long established fact that a reader of a page when looking.</span>
								</div>
							</div>
						</div>
					</div>
					<a href="" class="btn btn-rounded btn-lg btn-transparant btn-primary">Discover More</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="dz-media wow bounceInUp" data-wow-delay="1.0s">
					<img src="~/mophy/frontend/images/about/pic.jpg" alt="" class="animated fadeInUp">
					<div class="info-box">
						<h5>19+</h5>
						<span>Years Of <br> Experience</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Accordion Start -->
<section class="content-inner-3 overflow-hidden">
	<div class="container">
		<div class="section-head style-1 text-center">
			<h5 class="sub-title">FAQ Questions</h5>
			<h2 class="title">Frequently Ask Questions</h2>
		</div>
		<div class="row mt-5">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<div class="accordion dz-accordion dz-accordion-outline" id="accordionFaq2">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne1">
							<a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
								Pellentesque commodo nec tellus amet tincidunt ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Sed nec rhoncus mi. Fusce sollicitudin tempus tellus sed facilisis. Praesent eu ante ac magna efficitur pretium sit amet ut quam. Praesent pharetra purus lorem, hendrerit faucibus purus elementum.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
								Etiam nec lacus sit amet mi facilisis sodales ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
								Nunc blandit ac diam sit amet commodo ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFour1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
								Nullam auctor sapien magna, luctus risus feugiat ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFour1" class="accordion-collapse collapse" aria-labelledby="headingFour1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFive1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
								Aliquam cursus lectus lacinia rhoncus imperdiet ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFive1" class="accordion-collapse collapse" aria-labelledby="headingFive1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="accordion dz-accordion dz-accordion-outline" id="accordionFaq3">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne2">
							<a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
								Phasellus viverra urna tincidunt orci laoreet ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
								Donec venenatis, mi eu pretium molestie ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
								Phasellus fermentum ullamcorper scelerisque ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFour2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
								Cras viverra volutpat vehicula ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFour2" class="accordion-collapse collapse" aria-labelledby="headingFour2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFive2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
								Proin magna est, rutrum vitae magna et, blandit ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFive2" class="accordion-collapse collapse" aria-labelledby="headingFive2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Accordion End -->
<!-- .icon-bx	 -->
<section class="content-inner overflow-hidden position-relative">
	<div class="container">

		<div class="section-head text-center style-1">
			<h5 class="sub-title wow fadeInUp" data-wow-delay="0.4s">Our Expertise</h5>
			<h2 class="title wow fadeInUp" data-wow-delay="0.6s">Digital Currency Is Our Expertise</h2>
			<p class="text wow fadeInUp" data-wow-delay="0.8s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="icon-bx-wraper center box-hover style-1 wow fadeInLeft" data-wow-delay="0.2s">
					<div class="icon-bx-md mb-3 bg-primary radius shadow-primary">
						<a href="javascript:void(0);" class="icon-cell">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="50" width="50" viewBox="0 0 64 64"><g><g data-name="Outline"><circle cx="43" cy="21" r="1"></circle><path d="M25.276,55.64H22.138V52.349a1,1,0,0,0-2,0V56.64a1,1,0,0,0,1,1h4.138a1,1,0,0,0,0-2Z"></path><path d="M21.138,17.946a1,1,0,0,0,1-1V13.655h3.138a1,1,0,0,0,0-2H21.138a1,1,0,0,0-1,1v4.291A1,1,0,0,0,21.138,17.946Z"></path><path d="M38.724,13.655h3.138v3.291a1,1,0,1,0,2,0V12.655a1,1,0,0,0-1-1H38.724a1,1,0,0,0,0,2Z"></path><path d="M34,52H30a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Z"></path><path d="M54,55H52V53.209l1.836-2.8A1,1,0,0,0,54,49.86V38.65a3.018,3.018,0,0,0-3-3.03,2.959,2.959,0,0,0-1.1.212A3.032,3.032,0,0,0,48,33.764V5a3,3,0,0,0-3-3H19a3,3,0,0,0-3,3V58.93A3.064,3.064,0,0,0,19,62H54a1,1,0,0,0,1-1V56A1,1,0,0,0,54,55ZM51,37.62a1.017,1.017,0,0,1,1,1.03V49.562l-1.836,2.8A1,1,0,0,0,50,52.91V55H40V52.73a1,1,0,0,0-.288-.7l-8.541-8.661a1.043,1.043,0,0,1-.283-.892.995.995,0,0,1,1.749-.524l3.65,3.71A1,1,0,0,0,38,44.96V30.53a1,1,0,0,1,2,0V42a1,1,0,0,0,2,0V35.61a1,1,0,1,1,2,0V42a1,1,0,0,0,2,0V36.62a1,1,0,1,1,2,0V42a1,1,0,0,0,2,0V38.65A1.017,1.017,0,0,1,51,37.62ZM29.423,27.985a1,1,0,0,0,1-1V24.58h2.958v2.405a1,1,0,0,0,2,0V24.58h1.124l.486,3.7A3.511,3.511,0,0,0,36,31.25H26.419l.875-6.67h1.129v2.405A1,1,0,0,0,29.423,27.985Zm3.958-5.405H30.423V21.1a1.479,1.479,0,1,1,2.958,0ZM26.156,33.25H36v2.34H25.849ZM38.547,4l-.535,2.777a.907.907,0,0,1-.928.587H26.916a.907.907,0,0,1-.928-.587L25.453,4ZM18,58.93V5a1,1,0,0,1,1-1h4.416l.608,3.156a2.867,2.867,0,0,0,2.892,2.208H37.084a2.867,2.867,0,0,0,2.892-2.208L40.584,4H45a1,1,0,0,1,1,1V33.763a3.015,3.015,0,0,0-.472.217A2.993,2.993,0,0,0,43,32.58a2.96,2.96,0,0,0-1,.173V30.53a3.018,3.018,0,0,0-3-3.03c-.032,0-.061.008-.093.009l-.454-3.456A1.677,1.677,0,0,0,36.78,22.58h-1.4V21.1a3.479,3.479,0,0,0-6.958,0V22.58h-1.4a1.7,1.7,0,0,0-1.672,1.46L23.817,35.7A1.687,1.687,0,0,0,25.49,37.59H36v4.928l-1.943-1.975a3.019,3.019,0,1,0-4.309,4.229L38,53.141V55H36a1,1,0,0,0-1,1v3.93H19A1,1,0,0,1,18,58.93ZM53,60H37V57H53Z"></path><circle cx="26" cy="53" r="1"></circle></g></g></svg>
						</a>
					</div>
					<div class="icon-content">
						<h4 class="dz-tilte text-capitalize"><a href="javascript:void(0);">Ready to Use</a></h4>
						<p class="d-block">Interdum et malesuada fames ac ante ipsum primis Interdum et malesuada fames ac ante ipsum primis.</p>
						<a href="" class="btn btn-rounded btn-primary btn-lg">View More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="icon-bx-wraper center box-hover style-1 wow fadeInLeft" data-wow-delay="0.2s">
					<div class="icon-bx-md mb-3 bg-primary radius shadow-primary">
						<a href="javascript:void(0);" class="icon-cell">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="50" width="50" viewBox="4 -4 70 85"><path style="" d="M 4.6876255,-2.23e-6 C 2.1027767,-2.23e-6 5e-7,2.1027777 5e-7,4.6876177 V 70.312868 c 0,2.58485 2.1027762,4.68713 4.687625,4.68713 H 70.312872 c 2.584848,0 4.687123,-2.10228 4.687123,-4.68713 V 4.6876177 c 0,-2.58484 -2.102275,-4.68761993 -4.687123,-4.68761993 z m 0,3.12499993 H 70.312872 c 0.861171,0 1.562125,0.70012 1.562125,1.56262 V 14.062368 H 3.1250003 V 4.6876177 c 0,-0.8625 0.7007864,-1.56262 1.5626252,-1.56262 z m 6.0076695,3.90656 V 10.156558 H 43.750247 V 7.0315577 Z m 41.770055,0 V 10.156558 H 64.305452 V 7.0315577 Z M 3.1250003,17.187368 H 71.874997 v 53.1255 c 0,0.86184 -0.700954,1.56213 -1.562125,1.56213 H 4.6876255 c -0.8618388,0 -1.5626252,-0.70029 -1.5626252,-1.56213 z m 13.1463787,7.01955 v 25.09288 h -3.09471 v 9.31516 h 3.09471 v 6.24124 h 3.124998 v -6.24124 h 3.09496 v -9.31516 h -3.09496 v -25.09288 z m 14.521247,0 v 5.02283 h -3.09571 v 9.31542 h 3.09571 v 26.31103 h 3.12475 v -26.31103 h 3.094208 v -9.31542 h -3.094208 v -5.02283 z m 14.520247,0 v 17.52308 h -3.09546 v 9.31542 h 3.09546 v 13.81078 h 3.125 v -13.81078 h 3.094958 v -9.31542 h -3.094958 v -17.52308 z m 14.519746,0 v 8.14783 h -3.094708 v 9.31517 h 3.094708 v 23.18628 h 3.125751 v -23.18628 h 3.094708 v -9.31517 H 62.95837 v -8.14783 z m -29.010703,8.14783 h 3.064918 v 3.06542 h -3.064918 z m 29.040744,3.12475 h 3.065668 v 3.06567 H 59.86266 Z m -14.520247,9.3755 h 3.06542 v 3.06542 h -3.06542 z m -29.040994,7.56955 h 3.064918 v 3.06566 h -3.064918 z" stroke-width="0.99999994"></path></svg>
						</a>
					</div>
					<div class="icon-content">
						<h4 class="dz-tilte text-capitalize"><a href="javascript:void(0);">Easy Customize</a></h4>
						<p class="d-block">Interdum et malesuada fames ac ante ipsum primis Interdum et malesuada fames ac ante ipsum primis.</p>
						<a href="" class="btn btn-rounded btn-primary btn-lg">View More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="icon-bx-wraper center box-hover style-1 wow fadeInLeft" data-wow-delay="0.2s">
					<div class="icon-bx-md mb-3 bg-primary radius shadow-primary">
						<a href="javascript:void(0);" class="icon-cell">
							<svg xmlns="http://www.w3.org/2000/svg" height="50" width="50" fill="#fff" viewBox="0 0 200 200"><g><g><path fill="#fff" d="M40.59,99.998h-6.353c0-36.26,29.5-65.76,65.763-65.76h3.175v11.978l18.685-18.686L103.175,8.847v11.98    H100c-43.657,0-79.174,35.516-79.174,79.171h-6.353c0-46.095,36.655-83.791,82.351-85.466V4.587c0-1.858,1.108-3.522,2.826-4.237    c1.736-0.711,3.696-0.32,5.005,0.993l26.188,26.187l-26.188,26.189c-1.311,1.313-3.271,1.708-4.992,0.998    c-1.731-0.72-2.84-2.383-2.84-4.242v-9.801C65.535,42.331,40.59,68.307,40.59,99.998z"></path></g><g><path fill="#fff" d="M98.583,200c-1.191,0-2.36-0.467-3.24-1.346l-26.188-26.188l26.188-26.186    c1.318-1.32,3.281-1.707,5.003-0.995c1.714,0.706,2.831,2.371,2.831,4.237v9.803c31.286-1.657,56.23-27.634,56.23-59.327h6.353    c0,36.263-29.499,65.762-65.76,65.762h-3.176v-11.977l-18.685,18.683l18.685,18.683v-11.979H100    c43.656,0,79.174-35.517,79.174-79.171h6.353c0,46.095-36.654,83.792-82.35,85.466v9.945c0,1.858-1.11,3.523-2.828,4.237    C99.777,199.884,99.176,200,98.583,200z"></path></g><g><path fill="#fff" d="M100,136.349c-20.045,0-36.352-16.306-36.352-36.351c0-20.042,16.307-36.349,36.352-36.349    c20.044,0,36.352,16.306,36.352,36.349C136.352,120.043,120.044,136.349,100,136.349z M100,70.002    c-16.541,0-29.999,13.457-29.999,29.996c0,16.543,13.458,29.998,29.999,29.998c16.541,0,29.999-13.455,29.999-29.998    C129.999,83.459,116.541,70.002,100,70.002z"></path><polygon fill="#fff" points="96.586,113.641 82.872,99.928 87.364,95.436 96.585,104.657 112.638,88.601 117.129,93.093   "></polygon></g><g><path fill="#fff" d="M60.936,165.195c-2.121-1.274-4.208-2.669-6.198-4.147l4.208-5.669c1.806,1.341,3.7,2.608,5.625,3.764    L60.936,165.195z M48.975,156.313c-1.833-1.662-3.609-3.435-5.272-5.269l5.228-4.745c1.511,1.665,3.121,3.275,4.786,4.786    L48.975,156.313z M38.969,145.285c-1.478-1.991-2.876-4.075-4.15-6.195l6.049-3.637c1.155,1.924,2.424,3.815,3.767,5.621    L38.969,145.285z M31.295,132.519c-1.062-2.241-2.024-4.56-2.857-6.887l6.645-2.38c0.756,2.109,1.627,4.21,2.589,6.242    L31.295,132.519z M26.271,118.493c-0.601-2.407-1.089-4.869-1.45-7.318l6.984-1.028c0.328,2.22,0.77,4.453,1.315,6.634    L26.271,118.493z"></path></g><g><path fill="#fff" d="M168.197,89.849c-0.328-2.225-0.771-4.456-1.315-6.631l6.847-1.715c0.601,2.402,1.089,4.864,1.453,7.318    L168.197,89.849z M164.919,76.744c-0.761-2.118-1.632-4.216-2.592-6.243l6.378-3.024c1.059,2.233,2.021,4.549,2.859,6.885    L164.919,76.744z M159.132,64.543c-1.161-1.927-2.427-3.819-3.767-5.622l5.666-4.21c1.476,1.988,2.873,4.072,4.149,6.196    L159.132,64.543z M151.066,53.693c-1.505-1.66-3.115-3.267-4.783-4.781l4.739-5.23c1.839,1.668,3.615,3.441,5.274,5.272    L151.066,53.693z M141.05,44.616c-1.804-1.34-3.697-2.605-5.625-3.764l3.634-6.052c2.126,1.277,4.211,2.672,6.198,4.15    L141.05,44.616z"></path></g></g></svg>
						</a>
					</div>
					<div class="icon-content">
						<h4 class="dz-tilte text-capitalize"><a href="javascript:void(0);">Payment Links</a></h4>
						<p class="d-block">Interdum et malesuada fames ac ante ipsum primis Interdum et malesuada fames ac ante ipsum primis.</p>
						<a href="" class="btn btn-rounded btn-primary btn-lg">View More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- .icon-bx	 -->
<!-- dashboard -->
<section class="content-inner-2 about-bx4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="dz-content">
					<div class="section-head style-1">
						<h5 class="sub-title wow fadeInUp" data-wow-delay="0.4s">MOPHY</h5>
						<h2 class="title wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Payment Admin Dashboard</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
					</div>
					<ul class="list-check list-box m-b50">
						<li class="wow fadeInUp align-items-center" data-wow-delay="0.2s">
							<svg width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_13_161)">
									<path d="M49.9995 25.0001L44.3392 18.7157L45.2255 10.3025L36.9487 8.55041L32.7267 1.21606L24.9995 4.6696L23.9565 25.0001L24.9995 45.3305L32.7268 48.784L36.9487 41.4498L45.2255 39.6975L44.3392 31.2843L49.9995 25.0001Z" fill="currentColor"></path>
									<path d="M17.2722 1.21606L13.0503 8.55041L4.7735 10.3026L5.65974 18.7157L-0.000488281 25.0001L5.65974 31.2843L4.7735 39.6975L13.0503 41.4498L17.2723 48.784L24.9996 45.3305V4.6696L17.2722 1.21606Z" fill="currentColor"></path>
									<path d="M35.4801 19.526L33.2918 17.5728L24.9995 26.863L23.9565 29.1718L24.9995 31.268L35.4801 19.526Z" fill="#fff"></path>
									<path d="M16.285 22.791L14.2109 24.8651L22.9311 33.5853L24.9995 31.268V26.863L22.81 29.316L16.285 22.791Z" fill="#fff"></path>
								</g>
								<defs>
									<clipPath>
										<rect width="30" height="30" fill="white" transform="translate(-0.000488281)"></rect>
									</clipPath>
								</defs>
							</svg>
							<h5>Create Account</h5>
						</li>
						<li class="wow fadeInUp align-items-center" data-wow-delay="0.4s">
							<svg width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_13_161)">
									<path d="M49.9995 25.0001L44.3392 18.7157L45.2255 10.3025L36.9487 8.55041L32.7267 1.21606L24.9995 4.6696L23.9565 25.0001L24.9995 45.3305L32.7268 48.784L36.9487 41.4498L45.2255 39.6975L44.3392 31.2843L49.9995 25.0001Z" fill="currentColor"></path>
									<path d="M17.2722 1.21606L13.0503 8.55041L4.7735 10.3026L5.65974 18.7157L-0.000488281 25.0001L5.65974 31.2843L4.7735 39.6975L13.0503 41.4498L17.2723 48.784L24.9996 45.3305V4.6696L17.2722 1.21606Z" fill="currentColor"></path>
									<path d="M35.4801 19.526L33.2918 17.5728L24.9995 26.863L23.9565 29.1718L24.9995 31.268L35.4801 19.526Z" fill="#fff"></path>
									<path d="M16.285 22.791L14.2109 24.8651L22.9311 33.5853L24.9995 31.268V26.863L22.81 29.316L16.285 22.791Z" fill="#fff"></path>
								</g>
								<defs>
									<clipPath>
										<rect width="30" height="30" fill="white" transform="translate(-0.000488281)"></rect>
									</clipPath>
								</defs>
							</svg>
							<h5>Make A Charts Of Payments</h5>
						</li>
						<li class="wow fadeInUp align-items-center" data-wow-delay="0.4s">
							<svg width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_13_161)">
									<path d="M49.9995 25.0001L44.3392 18.7157L45.2255 10.3025L36.9487 8.55041L32.7267 1.21606L24.9995 4.6696L23.9565 25.0001L24.9995 45.3305L32.7268 48.784L36.9487 41.4498L45.2255 39.6975L44.3392 31.2843L49.9995 25.0001Z" fill="currentColor"></path>
									<path d="M17.2722 1.21606L13.0503 8.55041L4.7735 10.3026L5.65974 18.7157L-0.000488281 25.0001L5.65974 31.2843L4.7735 39.6975L13.0503 41.4498L17.2723 48.784L24.9996 45.3305V4.6696L17.2722 1.21606Z" fill="currentColor"></path>
									<path d="M35.4801 19.526L33.2918 17.5728L24.9995 26.863L23.9565 29.1718L24.9995 31.268L35.4801 19.526Z" fill="#fff"></path>
									<path d="M16.285 22.791L14.2109 24.8651L22.9311 33.5853L24.9995 31.268V26.863L22.81 29.316L16.285 22.791Z" fill="#fff"></path>
								</g>
								<defs>
									<clipPath>
										<rect width="30" height="30" fill="white" transform="translate(-0.000488281)"></rect>
									</clipPath>
								</defs>
							</svg>
							<h5>Arrange Your Payemnts By Using Mophy</h5>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="dz-media">
					<div class="twentytwenty-img-area">
						<div class="twentytwenty-container">
							<img src="~/mophy/frontend/images/about/pic1.jpg" alt="">
							<img src="~/mophy/frontend/images/about/pic2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Testimonials -->
<section class="overflow-hidden content-inner-1 bg-light">
	<div class="container">
		<div class="section-head style-1 text-center">
			<h6 class="sub-title text-center">Testimonial</h6>
			<h2 class="title text-center">What Our Clients Say’s</h2>
		</div>
		<div class="swiper testimonials-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="testimonial">
						<div class="profile-info">
							<div class="testimonial-pic">
								<img src="~/mophy/frontend/images/testimonials/pic1.jpg" alt="">
							</div>
							<div class="testimonial-position">
								<h5 class="testimonial-name">Alesa jhonson</h5>
								<span>CEO & Founder</span>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
						<p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						<div class="quote">
							<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g opacity="0.15">
									<path d="M27.2778 17.9409C12.237 17.9409 0.0019989 30.0765 0.0019989 44.9952C0.0019989 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.254 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6573 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0632 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="var(--primary)" />
									<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.2019 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2595 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3774 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3086 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6124 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6124 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="var(--primary)" />
								</g>
							</svg>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="testimonial">
						<div class="profile-info">
							<div class="testimonial-pic">
								<img src="~/mophy/frontend/images/testimonials/pic2.jpg" alt="">
							</div>
							<div class="testimonial-position">
								<h5 class="testimonial-name">Karley Mont</h5>
								<span>Manager</span>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
						<p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						<div class="quote">
							<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g opacity="0.15">
									<path d="M27.2778 17.9409C12.237 17.9409 0.0019989 30.0765 0.0019989 44.9952C0.0019989 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.254 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6573 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0632 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="var(--primary)" />
									<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.2019 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2595 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3774 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3086 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6124 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6124 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="var(--primary)" />
								</g>
							</svg>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testimonial">
						<div class="profile-info">
							<div class="testimonial-pic">
								<img src="~/mophy/frontend/images/testimonials/pic3.jpg" alt="">
							</div>
							<div class="testimonial-position">
								<h5 class="testimonial-name">John Matin</h5>
								<span>Designer</span>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
						<p class="testimonial-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
						<div class="quote">
							<svg width="123" height="122" viewBox="0 0 123 122" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g opacity="0.15">
									<path d="M27.2778 17.9409C12.237 17.9409 0.0019989 30.0765 0.0019989 44.9952C0.0019989 59.387 11.3887 71.1911 25.6957 72.0065C25.9435 74.6593 25.7576 81.8804 18.7814 91.9253C18.254 92.6831 18.3498 93.705 19.0047 94.3547C21.8595 97.1862 23.6238 98.9695 24.8586 100.217C26.4747 101.848 27.2123 102.592 28.2914 103.564C28.6573 103.893 29.119 104.059 29.5827 104.059C30.033 104.059 30.4816 103.903 30.8439 103.592C43.0001 93.1 56.504 71.4219 54.5502 44.8574C53.4053 29.2612 41.936 17.9409 27.2778 17.9409ZM29.6014 99.5484C29.0779 99.0366 28.4809 98.4335 27.6007 97.5453C26.531 96.4639 25.0632 94.982 22.8373 92.7668C31.3038 79.8269 29.7046 70.6104 29.0046 69.2886C28.6723 68.6613 27.991 68.2387 27.2778 68.2387C14.3578 68.2387 3.84575 57.812 3.84575 44.9952C3.84575 32.18 14.3578 21.7534 27.2778 21.7534C39.864 21.7534 49.7211 31.5862 50.7176 45.1328C52.9135 75.0112 35.0105 94.4105 29.6014 99.5484Z" fill="var(-primary)" />
									<path d="M122.809 44.8574C121.66 29.2631 110.189 17.9409 95.5346 17.9409C80.4936 17.9409 68.2566 30.0765 68.2566 44.9952C68.2566 59.387 79.6453 71.1911 93.9542 72.0065C94.2019 74.6574 94.0142 81.8746 87.0362 91.9253C86.5089 92.6831 86.6046 93.705 87.2595 94.3547C90.103 97.175 91.8634 98.9546 93.0984 100.2C94.7218 101.842 95.4633 102.59 96.548 103.566C96.9139 103.893 97.3774 104.059 97.8393 104.059C98.2898 104.059 98.7383 103.903 99.1004 103.59C111.257 93.0981 124.761 71.4202 122.809 44.8574ZM97.8579 99.5484C97.3306 99.0328 96.7282 98.426 95.8403 97.5288C94.7706 96.4489 93.3086 94.971 91.092 92.7668C99.5584 79.825 97.9613 70.6104 97.2631 69.2886C96.9308 68.6632 96.2478 68.2387 95.5346 68.2387C82.6124 68.2387 72.1004 57.812 72.1004 44.9952C72.1004 32.18 82.6124 21.7534 95.5346 21.7534C108.119 21.7534 117.978 31.5862 118.976 45.1347C121.17 75.0093 103.267 94.4105 97.8579 99.5484Z" fill="var(--primary)" />
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"><i class="fa fa-arrow-left"></i></div>
			<div class="swiper-button-next"><i class="fa fa-arrow-right"></i></div>
		</div>
	</div>
</section>

@section Mophy_script
	{
	<script src="~/mophy/frontend/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/mophy/frontend/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/mophy/frontend/js/dz.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/mophy/frontend/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
	<script src="~/mophy/frontend/plugin/twentytwenty-master/js/jquery.event.move.js"></script>
	<script src="~/mophy/frontend/plugin/twentytwenty-master/js/jquery.twentytwenty.js"></script>
	<script>
		$(window).on('load', function () {
			$(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({ default_offset_pct: 0.5 });
			$(".twentytwenty-container[data-orientation='vertical']").twentytwenty({ default_offset_pct: 0.3, orientation: 'vertical' });
		});
	</script>
}