@{
	Layout = "~/Views/Shared/_LayoutMophyFrontend.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<!-- Banner  -->
<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-primary-linear">
	<div class="move-3">
		<img src="~/mophy/frontend/images/home-banner/move-1.png" alt="">
	</div>
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>Faq</h1>
			<!-- Breadcrumb Row -->
			<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
				<ul class="">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Frontend")">Home</a></li>
					<li class="breadcrumb-item  text-black active" aria-current="page">Faq</li>
				</ul>
			</nav>
			<!-- Breadcrumb Row End -->
		</div>
	</div>

</div>
<!-- Banner End -->
<!-- Accordion Start -->
<section class="content-inner-1 overflow-hidden">
	<div class="container">
		<div class="row mt-5">
			<div class="col-lg-6 mb-5 mb-md-5">
				<div class="accordion dz-accordion dz-accordion-outline" id="accordionFaq2">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne1">
							<a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
								Pellentesque commodo nec tellus amet tincidunt ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Sed nec rhoncus mi. Fusce sollicitudin tempus tellus sed facilisis. Praesent eu ante ac magna efficitur pretium sit amet ut quam. Praesent pharetra purus lorem, hendrerit faucibus purus elementum.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
								Etiam nec lacus sit amet mi facilisis sodales ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
								Nunc blandit ac diam sit amet commodo ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFour1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
								Nullam auctor sapien magna, luctus risus feugiat ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFour1" class="accordion-collapse collapse" aria-labelledby="headingFour1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFive1">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
								Aliquam cursus lectus lacinia rhoncus imperdiet ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFive1" class="accordion-collapse collapse" aria-labelledby="headingFive1" data-bs-parent="#accordionFaq2">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="accordion dz-accordion dz-accordion-outline" id="accordionFaq3">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne2">
							<a href="#" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
								Phasellus viverra urna tincidunt orci laoreet ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
								Donec venenatis, mi eu pretium molestie ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
								Phasellus fermentum ullamcorper scelerisque ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFour2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
								Cras viverra volutpat vehicula ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFour2" class="accordion-collapse collapse" aria-labelledby="headingFour2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingFive2">
							<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
								Proin magna est, rutrum vitae magna et, blandit ?
								<span class="toggle-close"></span>
							</a>
						</h2>
						<div id="collapseFive2" class="accordion-collapse collapse" aria-labelledby="headingFive2" data-bs-parent="#accordionFaq3">
							<div class="accordion-body">
								<p class="m-b0">Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa, id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Accordion End -->
@section Mophy_script
	{
	<script src="~/mophy/frontend/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/mophy/frontend/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/mophy/frontend/js/dz.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/mophy/frontend/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}