@{
	Layout = "~/Views/Shared/_LayoutMophyFrontend.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<!-- Banner  -->
<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-primary-linear">
	<div class="move-3">
		<img src="~/mophy/frontend/images/home-banner/move-1.png" alt="">
	</div>
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>Pricing</h1>
			<!-- Breadcrumb Row -->
			<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
				<ul class="">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Frontend")">Home</a></li>
					<li class="breadcrumb-item  text-black active" aria-current="page">Pricing</li>
				</ul>
			</nav>
			<!-- Breadcrumb Row End -->
		</div>
	</div>

</div>
<!-- Banner End -->
<!-- Pricing Table -->
<section class="content-inner bg-gray">
	<div class="container">
		<div class="section-head style-1 text-center">
			<h6 class="sub-title pb-1">Pricing</h6>
			<h2 class="title">Our Pricing</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
				<div class="pricing-wrapper style-1 m-b30">
					<div class="pricingtable-inner">
						<div class="pricingtable-head">
							<div class="pricingtable-title">
								<img src="~/mophy/frontend/images/pricingtable/icon4.png" alt="">
								<h3 class="title">Lite</h3>
							</div>
							<p>Perfect to get started</p>
						</div>
						<div class="pricingtable-price">
							<h2 class="pricingtable-bx">
								<span>$</span>11<small class="pricingtable-type">/Per Month</small>
							</h2>

							<div class="badge m-b40">
								<p> Try 7 Days for free</p>
							</div>
							<h6>Lite includes</h6>

						</div>
						<ul class="pricingtable-features">
							<li><i class="fa-solid fa-circle-check"></i>Review Your Question</li>
							<li><i class="fa-solid fa-circle-check"></i> Work with Resources</li>
							<li>
								<i class="fa-solid fa-circle-check"></i>Analysis of Your "I Have"
							</li>
							<li>
								<i class="fa-solid fa-circle-check"></i> Analysis of Your "I Have"
							</li>
							<li><i class="fa-solid fa-circle-check"></i> SEO Marketing</li>
							<li><i class="fa-solid fa-circle-check"></i> Support & Mentoring</li>
						</ul>
					</div>
					<div class="pricingtable-footer">
						<a href="@Url.Action("ContactUs","Frontend")" class="btn  btn-lg">See all features</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
				<div class="pricing-wrapper style-1 m-b30 active">
					<div class="pricingtable-inner">
						<div class="pricingtable-head">
							<div class="pricingtable-title">
								<img src="~/mophy/frontend/images/pricingtable/icon4.png" alt="">
								<h3 class="title">Pro</h3>
							</div>
							<p>Perfect to get started</p>
						</div>
						<div class="pricingtable-price">
							<h2 class="pricingtable-bx">
								<span>$</span>21<small class="pricingtable-type">/Per Month</small>
							</h2>

							<div class="badge m-b40">
								<p> Try 7 Days for free</p>
							</div>
							<h6>Everythings in Lite, Plus</h6>

						</div>
						<ul class="pricingtable-features">
							<li><i class="fa-solid fa-circle-check"></i> Review Your Question</li>
							<li><i class="fa-solid fa-circle-check"></i> Work with Resources</li>
							<li>
								<i class="fa-solid fa-circle-check"></i> Analysis of Your "I Have"
							</li>
							<li>
								<i class="fa-solid fa-circle-check"></i> Analysis of Your "I Have"
							</li>
							<li><i class="fa-solid fa-circle-check"></i> SEO Marketing</li>
							<li><i class="fa-solid fa-circle-check"></i> Support & Mentoring</li>
						</ul>
					</div>
					<div class="pricingtable-footer">
						<a href="@Url.Action("ContactUs","Frontend")" class="btn  btn-lg">See all features</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s">
				<div class="pricing-wrapper style-1 m-b30">
					<div class="pricingtable-inner">
						<div class="pricingtable-head">
							<div class="pricingtable-title">
								<img src="~/mophy/frontend/images/pricingtable/icon4.png" alt="">
								<h3 class="title">Ultimate</h3>
							</div>
							<p>Perfect to get started</p>
						</div>
						<div class="pricingtable-price">
							<h2 class="pricingtable-bx">
								<span>$</span>32<small class="pricingtable-type">/Per Month</small>
							</h2>

							<div class="badge m-b40">
								<p> Try 7 Days for free</p>
							</div>
							<h6>Everythings in Lite, Plus</h6>

						</div>
						<ul class="pricingtable-features">
							<li><i class="fa-solid fa-circle-check"></i> Review Your Question</li>
							<li><i class="fa-solid fa-circle-check"></i>Work with Resources</li>
							<li>
								<i class="fa-solid fa-circle-check"></i> Analysis of Your "I Have"
							</li>
							<li>
								<i class="fa-solid fa-circle-check"></i> Analysis of Your "I Have"
							</li>
							<li><i class="fa-solid fa-circle-check"></i> SEO Marketing</li>
							<li><i class="fa-solid fa-circle-check"></i> Support & Mentoring</li>
						</ul>
					</div>
					<div class="pricingtable-footer">
						<a href="@Url.Action("ContactUs","Frontend")" class="btn  btn-lg">See all features</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

@section Mophy_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/mophy/frontend/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/mophy/frontend/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/mophy/frontend/js/dz.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/mophy/frontend/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}