<div class="modal fade" id="addCloseFriendModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add to close friends</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<input class="form-control" placeholder="search here...">
					</div>
					<ul class="user-media-list">
						<li class="mb-2 border-bottom pb-2">
							<div class="d-flex align-items-center">
								<div class="img_cont me-2">
									<img src="~/mophy/admin/images/avatar/1.jpg" height="45" width="45"
										 class="rounded-circle user_img" alt="">
								</div>
								<div class="user_info">
									<h6 class="mb-0">Archie Parker</h6>
									<p class="mb-0">Kalid is online</p>
								</div>
							</div>
						</li>
						<li class="mb-2 border-bottom pb-2">
							<div class="d-flex align-items-center">
								<div class="img_cont me-2">
									<img src="~/mophy/admin/images/avatar/2.jpg" height="45" width="45"
										 class="rounded-circle user_img" alt="">
								</div>
								<div class="user_info">
									<h6 class="mb-0">Alfie Mason</h6>
									<p class="mb-0">Kalid is online</p>
								</div>
							</div>
						</li>
						<li class="mb-2 border-bottom pb-2">
							<div class="d-flex align-items-center">
								<div class="img_cont me-2">
									<img src="~/mophy/admin/images/avatar/3.jpg" height="45" width="45"
										 class="rounded-circle user_img" alt="">
								</div>
								<div class="user_info">
									<h6 class="mb-0">Bashid Samim</h6>
									<p class="mb-0">Kalid is online</p>
								</div>
							</div>
						</li>
						<li class="mb-2 border-bottom pb-2">
							<div class="d-flex align-items-center">
								<div class="img_cont me-2">
									<img src="~/mophy/admin/images/avatar/4.jpg" height="45" width="45"
										 class="rounded-circle user_img" alt="">
								</div>
								<div class="user_info">
									<h6 class="mb-0">Jack Ronan</h6>
									<p class="mb-0">Kalid is online</p>
								</div>
							</div>
						</li>
						<li class="mb-2 pb-2">
							<div class="d-flex align-items-center">
								<div class="img_cont me-2">
									<img src="~/mophy/admin/images/avatar/5.jpg" height="45" width="45"
										 class="rounded-circle user_img" alt="">
								</div>
								<div class="user_info">
									<h6 class="mb-0">Oliver Acker</h6>
									<p class="mb-0">Kalid is online</p>
								</div>
							</div>
						</li>
					</ul>
					<input type="submit" value="Done" class="submit btn btn-primary w-100" name="submit">
				</form>
			</div>
		</div>
	</div>
</div>
