<!-- Contact Sidebar -->
<div class="contact-sidebar">
	<div class="contact-box">
		<div class="logo-contact logo-dark">
			<a href="@Url.Action("Index","Frontend")"><img src="~/mophy/frontend/images/logo.png" alt=""></a>
		</div>
		<div class="m-b50 contact-text">
			<div class="dz-title">
				<h4>About us</h4>
				<div class="dz-separator style-1 text-primary mb-0"></div>
			</div>
			<p>lorem aliquet venenatis libero a nulla placerat egestas.</p>
			<a href="@Url.Action("AboutUs","Frontend")" class="btn btn-rounded btn-transparant btn-md">READ MORE</a>
		</div>
		<div class="dz-title">
			<h4 class="mb-3">Contact Info</h4>
			<div class="dz-separator style-1 text-primary mb-0"></div>
		</div>
		<div class="icon-bx-wraper left">
			<div class="icon-md m-r20">
				<span class="icon-cell"><i class="fas fa-phone"></i></span>
			</div>
			<div class="icon-content">
				<h5 class="tilte">Call Now</h5>
				<p class="m-b0">+91 123 456 7890,<br> +91 987 654 3210</p>
			</div>
		</div>
		<div class="icon-bx-wraper left">
			<div class="icon-md m-r20">
				<span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
			</div>
			<div class="icon-content">
				<h5 class="tilte">Location</h5>
				<p class="m-b0">info@gmail.com, services@gmail.com</p>
			</div>
		</div>
		<div class="icon-bx-wraper left">
			<div class="icon-md m-r20">
				<span class="icon-cell"><i class="fas fa-envelope-open"></i></span>
			</div>
			<div class="icon-content">
				<h5 class="tilte">Email Now</h5>
				<p class="m-b0">15/B Miranda House, New York, US</p>
			</div>
		</div>
	</div>
</div>
